@import url("commonClasses.css");
@import url("animations.css");
@import url("styleReset.css");

:root {
	--xSmPadding: 0.4vw;
	--smPadding: 0.8vw;
	--medPadding: 1vw;
	--lgPadding: 1.5vw;
	--xLgPadding: 2.2vw;

	--mainColor: #616161;
	--colorWhite: #eee;
	--colorBlack: #060606;

	--accentColor1: rgb(34,34,34);
	--accentColor2: rgb(41,41,41);
	--accentColor3: rgb(52,52,52);
	--accentColor4: rgb(77,77,77);
	--accentColor5: rgba(66,66,66, 0.8);
	
	--colorNotice: orangered;
	--colorImportant: rgba(255, 0, 0, 0.9);

	--fontLight: #eee;
	--fontDark: #060606;

	--smRound: 10px;
	--medRound: calc((var(--smRound) * 2));
	--lgRound: calc((var(--medRound) * 2));

	--smBorder: 1px;
	--medBorder: calc((var(--smBorder) * 2));
	--lgBorder: calc((var(--medBorder) * 2));
	--xlgBorder: calc((var(--lgBorder) * 2));

	--roundBorder: var(--lgRound);
	--circleBorder: 50%;

	--boxShadow1: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	--boxShadow2: rgba(255, 255, 255, 0.16) 0px 1px 3px, rgba(255, 255, 255, 0.23) 0px 1px 3px;
	--boxShadow3: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;;

	--textShadow1: 2px 2px 3px rgba(0,0,0,0.8);
}