@import url("commonClasses.css");
@import url("animations.css");
@import url("styleReset.css");

:root {
	--xSmPadding: 5px;
	--smPadding: 10px;
	--medPadding: 25px;
	--lgPadding: 50px;

	--mainColor: rgb(54, 55, 64);

	--lightColor: #f3f3f3;
	--darkColor: #222;

	--accentColor1: rgb(22, 27, 34);
	--accentColor2: rgb(85, 85, 85);
	--accentColor3: rgb(54, 55, 64);
	--accentColor4: rgb(22, 27, 34);
	--accentColor5: rgba(0, 0, 0, 0.5);

	--fontLight: var(--lightColor);
	--fontDark: black;

	--smRound: 10px;
	--medRound: calc((var(--smRound) * 2));
	--lgRound: calc((var(--medRound) * 2));

	--smBorder: 1px;
	--medBorder: calc((var(--smBorder) * 2));
	--lgBorder: calc((var(--medBorder) * 2));
	--xlgBorder: calc((var(--lgBorder) * 2));

	--roundTopBottomRightBorder: 0% var(--medRound) var(--medRound) 0%;
	--roundBorder: var(--medRound);
	--circleBorder: 50%;

	--borderHover: var(--lgBorder) solid var(--mainColor);

	--shadowBox1: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	--shadowBox2: rgba(255, 255, 255, 0.16) 0px 1px 3px, rgba(255, 255, 255, 0.23) 0px 1px 3px;
	--shadowBox3: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

	--textShadow1: 2px 2px 3px rgba(0,0,0,0.8);
}