#logo {
    justify-self: flex-start;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: var(--smPadding) 0;
    background-color: var(--mainColor);
}

#logo > * { margin: 0;}

#logo > img {
    height: 60px;
    width: 75px;
}

#logo > h1 {
    font-size: 2em;
}

#logo > button {
    margin-left: auto;
    margin-right: var(--smPadding);
    justify-self: center;
    align-self: flex-end;
    border-radius: var(--roundBorder);
    border-color: transparent;
    padding: var(--smPadding);
}

#logo > button:hover {
    transition: 0.2s;
    animation-fill-mode: forwards;
    box-shadow: inset 2rem 0 0 var(--accentColor2);
}