#leftContent {
    margin: 0;
    padding: var(--lgPadding) var(--xLgPadding);
    display: flex;
    flex-direction: column;
    background-color: var(--accentColor3);
    width: fit-content;
    min-height: 100vh;
    gap: var(--xLgPadding);
}

#leftContent > div {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#leftContent > div > .listTypeHeader {
    text-align: center;
    margin: 0 0 var(--smPadding);
    text-shadow: var(--textShadow1);
}

#leftContent > div > .active {
    background-color: var(--accentColor5);
    box-shadow: var(--shadowBox3);
}

#leftContent > div > *:not(.listTypeHeader) {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--smPadding) var(--medPadding);
    transition: 0.1s;
    border-radius: var(--roundBorder);
    cursor: pointer;
}

#leftContent > div > *  > * {
    justify-self: center;
}

#leftContent > div > * > :last-child{
    margin-left: auto;
    justify-self: end;
    color: var(--noticeColor);
}

#leftContent > div > *:not(.listTypeHeader):not(.active):hover{
    background-color: var(--accentColor5);
    box-shadow: var(--shadowBox1); 
    transition: 0.2s;
    animation-fill-mode: both;
    box-shadow: inset 2rem 20rem 2rem 20rem var(--accentColor5);
}
