#rightContent {
    margin: 0;
    padding: var(--xLgPadding);
    background-color: var(--accentColor2);
    width: 100%;
    gap: var(--medPadding);
}

#rightContent > * {    margin: 0;}
#rightContent > :first-child{
    text-align: center;
    margin-bottom: var(--medPadding);
    font-size: 28px;
}

#rightContent > #taskList {
    display: flex;
    flex-direction: column;
    gap: var(--smPadding);
    padding: var(--lgPadding);
    justify-content: center;
    align-items: center;
}

#rightContent > #taskList > .task {
    margin: 0;
    width: 100%;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    background-color: rgba(25, 21, 30, 0.8);
    padding: var(--medPadding);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--lgPadding);
    cursor: pointer;
    overflow-wrap: break-word;
    word-break: break-all;
}


#rightContent > #taskList > .task.finished {
    filter: opacity(0.4);
}

#rightContent > #taskList > .task.finished > img {
    height: 28px;
}
#rightContent > #taskList > .task.finished::after {
    position: absolute;
    left: -1vw;
    top: 58%;
    min-height: 1px;
    background: black;
    content: "";
    width: calc(100% + 2vw);
    display: block;
  }

  #rightContent > #taskList > .task:hover {
    box-shadow: var(--shadowBox2);
    filter: opacity(1);
}